@charset "UTF-8";
body{
    background-image : url("jocker.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
}
p{
    color : #faebd7;
    font-size : 20px;
    
   
}
.h{
    text-align : center;
    font-size : 100px;
    color : #82171a;
    letter-spacing: 5px;
    font-family: 'Indie Flower', cursive;
    
    
}
#score{
    text-align : center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: #D40823;
 
}
.clear{
    clear : both;
}
#size-bloc{
    margin-left: -50px;
    padding-left: 35%;
    margin-top:80px;
    
  
}

#size-title{
    float : left;
    color: #0e3920;
    margin-left: 3%;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    
}
#size{
    width: 50px;
    margin-left: 10px;
    margin-bottom: 2%;
    border-radius : 2px;
    color: #000000;
    text-align :center;
    font-weight: bold;
    background-color:#e8dee1;
    border:#0e3920;
    
}
#change-size{
    
   
    font-weight: bold;
    background-color:#0e3920;
    border:#0e3920;
}
#canvas{
    background-color : #e8dee1;
}
#canvas-bloc{
    margin-left: -250px;
    padding-left: 50%;
    
   
}
#restart {
    color: #000000;
    margin-left: 19%;
    text-align: center;
    font-weight: bold;
    background-color:#e8dee1;
    border:#0e3920;
    
    
    
    
}
